@import url('https://fonts.googleapis.com/css2?&family=Ephesis&family=Rampart+One&family=Pacifico&family=Sail&family=Quicksand:wght@300;400;500;600;700&family=Oleo+Script&display=swap');
/*
Ephesis - Title only
Pacifico - text only GOOD
Oleo Script - cool GOOD
Sail - Title only GOOD
Rampart One - Title only
*/

/*  background-image: url('https://media4.giphy.com/media/7BNw7BCJsx9UKWsjbr/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(235,232,225,0.5);*/


/* 

TABLE OF CONTENTS

1. CSS Variables
2. General Classes
3. Navigation Bar
4. Landing
5. Products
6. About Me
7. Contact

*/


/* ================ CSS VARIABLES ================ */
:root {
  --ff-emph: 'Sail', sans-serif;
  --ff: 'Quicksand', sans-serif;
  --ff-light: 300;
  --ff-heavy: 700;
  --f-primary: #312223;
  --f-secondary: white;
  --f-tertiary: pink;
  
  --bg-primary: #EBE8E1;
  --bg-secondary: white;
  --bg-tertiary: #BEB49D;
  
  --c-primary: black;
  
  --container-size: 85%;
  --container-v-margin: 0vh;
  
  --nav-height: 50px;

  --bun-size: 650px;
  
  --product-size: 220px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /*border: 1px dotted black;*/
  font-family: var(--ff);
}


/* =============== GENERAL CLASSES =============== */
body {
  background-color: var(--bg-primary);
  color: var(--f-primary);
}

h1, h2 {
  font-family: var(--ff-emph);
}

h2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 40px;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

section {
  padding: 80px 0px;
  /*overflow: hidden;*/
}

.section-break {
  width: 35%;
  background: var(--bg-primary);
}

.is-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
}

.is-centered-text {
  text-align: center;
}

.is-bordered {
  border-bottom: 1px solid black;
}

.is-full-page {
  min-height: 100vh;
}

.is-primary {
  background-color: var(--bg-primary);
}

.is-secondary {
  background-color: var(--bg-secondary);
}

.is-tertiary {
  background-color: var(--bg-tertiary);
}

.container {
  min-height: 20vh;
  width: var(--container-size);
  margin: var(--container-v-margin) auto;
}

.is-hidden {
  display: none;
}


/* =================== NAVBAR ==================== */
nav {
  font-weight: var(--ff-heavy);
  font-size: 1.35em;
  z-index: 3;
  position: fixed;
  top: 0px;
  height: var(--nav-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav li {
  list-style-type: none;
  margin: 0px 15px;
}


/* =================== LANDING =================== */
#title {
  max-width: 1200px;
  margin: auto;
  padding: 35px;
  border: 1px solid white;
  background: rgba(255,255,255,0.7);
  font-size: 9em;
  font-weight: var(--ff-heavy);
}

#motto {
  font-family: var(--ff);
  font-size: 3em;
  padding-left: 10em;
  padding-top: 30px;
}

#landing {
  margin-top: var(--nav-height);
  height: calc(100vh - var(--nav-height));
}

#bun-holder {
  position: absolute;
  height: var(--bun-size);
  width: var(--bun-size);
  left: 0;
  bottom: 0;
  overflow: hidden;
}

.hero-bun {
  position: absolute;
  width: var(--bun-size);
}

#hero-bun-front {
  left: 0;
  bottom: calc(var(--bun-size) * -0.23);
}

#hero-bun-back {
  width: calc(var(--bun-size) * 0.9);
  left: calc(var(--bun-size) * -0.23);
  bottom: calc(var(--bun-size) * 0.07)
}

#landing-text {
  position: absolute;
  top: 22vh;
}




/* ================== ABOUT ME =================== */
#about-me-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#about-me-heading {
  grid-column-end: span 2;
}

#about-me-body {
  font-size: 1.25em;
  line-height: 1.5;
  padding: 40px 0px;
  margin: auto;
}

#about-me-img {
  width: 100%;
  margin: auto;
  padding-left: 50px;
}


/* ================== CONTACT ==================== */
#contact-content {
  display: flex;
  flex-flow: column wrap;
  /*grid-template-columns: 1fr 1fr*/
}

#contact-body {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

#contact-availability, #content-reach-me {
  width: 500px;
  /*margin: 0px auto;*/
}

.row {
  font-weight: var(--ff-heavy);
  width: 85%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  align-items: center;
}

.social-icon {
  padding-left: 20px;
  font-size: 1.7em;
}



/* ================== CAROUSEL =================== */

.carousel {
  position: relative;
  height: calc(var(--product-size) + 50px);
  width: calc(var(--product-size) * 4 + 100px);
  margin: 0 auto;
}


.carousel__track-container {
  position: relative;
  height: 100%;
  /*display: flex;*/
  /*flex-wrap: none;*/
  /*overflow: hidden;*/
}

.carousel__track {
  display: flex;
  list-style: none;
  height: 100%;
  width:;
  transition: transform 0.7s;
}

.carousel__slide {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*position: absolute;*/
  /*top: 0;*/
  /*bottom: 0;*/
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 1;
}

.carousel__button--left {
  left: -40px;

}

.carousel__button--right {
  right: -40px;
  transform: scaleX(-1);
}

.carousel__button img {
  width: 40px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  background: rgba(0,0,0,0.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0,0,0,0.7);
}


.products-list {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.product-img {
  width: var(--product-size);
  transition: transform 0.5s;
}

.product-img:hover {
  transform: scale(1.1);
}


@media screen and (min-width: 1400px) {
  :root {
    --product-size: 250px;
  }
}


@media screen and (max-width: 1100px) {
  :root {
    --product-size: 250px;
  }

  .carousel {
    height: calc(var(--product-size) * 2 + 75px);
    width: calc(var(--product-size) * 2 + 50px);
  }

  .carousel__slide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 630px) {
  :root {
   --product-size: 175px;
  }
}








